<template>
  <div class="">
    <!-- header of project -->
    <div class="w-full fixed items-top rounded-b-2xl shadow-md h-20 top-0 bg-white">
      <div class="border h-1.5 bg-gradient-to-r from-green-400 to-blue-500"></div>
      <div class="flex justify-end">
        <nav class="flex justify-between flex-wrap bg-teal p-2">
          <div class="w-full block flex-grow lg:flex ">
            <div>
              <a href="#" class="inline-block text-sm px-2 py-2 leading-none hover:border-transparent hover:underline mt-4 lg:mt-0 text-green-500">Log In</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- content of project -->
    <div class="mb-20">
      <!-- content banner & title of project -->
      <div class="bg-blue-50 pt-24 pb-10">
        <div class="text-center text-5xl">
          Deine Job<br>
          website
        </div>
        <div>
          <img src="~/assets/images/undraw_agreement_aajr.svg">
        </div>
      </div>
      <!-- content button group of project -->
      <div class="flex mt-4 px-4 overflow-x-scroll">
        <button
          class="text-green-500 bg-transparent border-l border-t border-b border-green-500 hover:bg-green-500 hover:text-white active:bg-green-600 font-bold uppercase text-xs px-6 py-2 rounded-l outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
          type="button">
          Arbeitnehmer
        </button>
        <button
          class="text-green-500 bg-transparent border border-solid border-green-500 hover:bg-green-500 hover:text-white active:bg-green-600 font-bold uppercase text-xs px-6 py-2 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
          type="button">
          Temporärbüro
        </button>
        <button
          class="text-green-500 bg-transparent border-t border-b border-r border-green-500 hover:bg-green-500 hover:text-white active:bg-green-600 font-bold uppercase text-xs px-6 py-2 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
          type="button">
          Arbeitnehmer
        </button>
        <button
          class="text-green-500 bg-transparent border-t border-b border-r border-green-500 hover:bg-green-500 hover:text-white active:bg-green-600 font-bold uppercase text-xs px-6 py-2 rounded-r outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
          type="button">
          Temporärbüro
        </button>
      </div>
      <!-- content list of project -->
      <div class="pt-10 pb-10">
        <div class="text-center text-2xl">
          Drei einfache Schritte<br>
          zu deinem neuen Job
        </div>
        <div class="mt-6 mb-6">
          <div class="flex justify-center">
            <img src="~/assets/images/1.svg">
          </div>
          <div class="flex items-end -mt-12 ml-4">
              <div class="text-9xl text-gray-500">1.</div>
              <div class="text-gray-500 mb-1 ml-4">Erstellen dein Lebenslauf</div>
            </div>
        </div>
        <div class="mb-6 mt-6">
          <div class="flex items-end ml-16">
            <div class="text-9xl text-gray-500">2.</div>
            <div class="text-gray-500 mb-1 ml-4">Erstellen dein Lebenslauf</div>
           </div>
          <div class="flex justify-center mt-6">
            <img src="~/assets/images/2.svg">
          </div>
        </div>
        <div class="mb-6 mt-6">
          <div class="flex items-end ml-28">
            <div class="text-9xl text-gray-500">3.</div>
            <div class="text-gray-500 mb-1 ml-4">Mit nur einem Klick<br>bewerben</div>
           </div>
          <div class="flex justify-center mt-6">
            <img src="~/assets/images/3.svg">
          </div>
        </div>
      </div>
    </div>
    <!-- footer of project --> 
    <div class="w-full bg-white rounded-t-2xl shadow-inner h-20 fixed bottom-0">
      <div class="flex justify-center">
        <nav class="flex justify-between flex-wrap bg-teal p-2">
          <div class="block flex-grow lg:flex ">
            <div class="">
              <button class="rounded-xl w-60 inline-block text-sm px-10 py-3 mt-4 bg-gradient-to-r from-green-400 to-blue-500 leading-none text-white">Kostenlos Registrieren</button>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>
